//MOBILE FIRST approach means core styles applies to mobile, and media queries will adjust to larger screens



.page-content {
    display: flex;
    height: $page-content-height;
    margin: 0 auto;
    max-width: $site-max-width;
    //top/bottom left/right
    //padding: $large-space $space;

    @include desktop {
        padding: $large-space $space;
    }
}

.page-content__sidebar {
    display: none;
    //display: flex;
    padding-right: $large-space;
    width: $page-content-sidebar-width;

    @include desktop {
        display: flex;
    }
}

/*//media query
//only apply when min width is 50rem wide 
@media (min-width: 50rem){
    .page-content__sidebar * {
        color: red;
    }
}*/

.page-content__main {
    display: flex;
    width: 100%;

    @include desktop {
        width: $page-content-main-width;
    }
}

